@font-face {
    font-family: 'Eoe_Zno_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
     z-index: 1;
}

/*ol,
ul,
li {
    list-style: none;
}*/
a {
    text-decoration: none;
    
}



.S_bar_wrap {
    width: 200px;
    height: 2000px;
    float: left;
    background: #F2F2F2;
/*    overflow: hidden;*/
    z-index: 1;
}

.sticky-box{
    width: 200px;
    position: sticky;
    top: 0;
  
 
}
#S_bar {
    width: 200px;
    height: auto;
    background: green;
    

}



#S_bar li a {
    display: block;
    padding: 0 10px;
    width: 179px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 2px;
}

#S_bar > .S_bar_menu1 > a {


    background-color: #18A8F1;
    color: #fff;
    font-family: 'Eoe_Zno_B';
    font-size: 20px;
/*    text-align: center;*/
}

#S_bar .S_bar_menu1.on {
    background-color: red;
}

#S_bar .S_bar_menu2 {
    
    display: none;
   
}

#S_bar .S_bar_menu2 a {
    background-color: white;
    color: black;
    font-family: 'Eoe_Zno_L';
    font-weight: bold
    

}

#S_bar .S_bar_menu2 a:hover {
    background-color: #58D3F7;
    color: #fff;
}

li {
    list-style: none;
    border: 1px solid #18A8F1;
}
