#y-boardrap {
	width: 1400px;
	height: 900px;
	margin: 0 auto;
	/*            background: red;*/
}

#y-boardtop {
	/*    background:red;*/
	width: 1000px;
	height: 145px;
	margin: 0 auto;
	border-bottom: 1px solid #A4A4A4;
}

#y-boardtop a {
	text-decoration: none;
	color: #848484;
}

#y-board {
	width: 1000px;
	height: 500px;
	/*    background: green;*/
	margin: 0 auto;
	/*    border-top: 1px solid gray;*/
	margin-top: 50px;
}

#y-board table {
	width: 1000px;
	/*    background: blue;*/
	margin: 0 auto;
	font-weight: bold;
}

.y-h2 {
	width: 111px;
	height: 30px;
	border-bottom: 3px solid #18A8F1;
}

.y-p {
	color: #848484;
	font-size: 14px;
}

#y-board td {
	border-bottom: 1px solid #A4A4A4;
	height: 40px;
}

.y-tr:hover {
	background: #F2F2F2;
}

#y-board th {
	border-bottom: 1px solid #A4A4A4;
	border-top: 1px solid #A4A4A4;
	height: 50px;
	background: #F2F2F2;
	font-size: 17px;
}

.y-text-left {
	text-align: left;
	padding-left: 30px;
}

.y-text-left a {
	text-decoration: none;
	color: black;
	width: 500px;
	display: inline-block;
}

.y-text-left a:hover {
	color: black;
}

#y-th-1 {
	width: 120px;
}

#y-th-2 {
	width: 120px;
}

#y-th-3 {
	width: 220px;
}

#y-th-4 {
	width: 180px;
}

#y-th-5 {
	width: 180px;
}

#y-th-6 {
	width: 180px;
}

.y-table {
	text-align: center;
}

#y-boardfooter {
	width: 1000px;
	height: 100px;
	/*    background: yellow;*/
	margin: 0 auto;
	/*        margin-top: 50px;*/
}

#y-boardbtnbox {
	width: 1000px;
	height: 35px;
	float: right;
	margin-top: -50px;
}

.y-boardbtn {
	width: 120px;
	height: 35px;
	background: white;
	border: 1px solid #A4A4A4;
	border-radius: 5px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-right: 8px;
	float: right;
	font-size: 15px;
	cursor: pointer;
}

.y-boardbtn:hover {
	background: #F2F2F2;
}

.searchbtn {
	float: left;
	font-size: 20px;
	margin-left:
}

.searchbtn i {
	margin-left: 10px;
	line-height: 33px;
}

.bi-pencil {
	font-size: 16px;
}

#y-pagebtn {
	/*    background: red;*/
	width: 600px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	margin: 0 auto;
	/* margin-top: 20px; */
	/* background:red; */
	 
}

#y-pagebtn a {
	text-decoration: none;
	color: black;
}

#y-pagebtn button {
	width: 30px;
	height: 35px;
	background: white;
	border: 1px solid #A4A4A4;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

#y-pagebtn button:hover {
	background: #F2F2F2;
}
 #y-boardsearch-box {
    width: 1000px;
    height: 50px;
  /*  float : left; */
    /* background: blue; */
        display: flex;
         justify-content: center;
}
    #y-boardsearch-box select{
        width: 70px;
        height: 45px;
/*        border-radius: 15px 0px 0px 15px;*/
         border: 2px solid #18A8F1;
        /* margin-right: -6px; */
    }
    .y-boardsearch-box-textbox{
        width: 300px;
        height: 41px;
         border: 2px solid #18A8F1;
    }
    .y-boardsearch-box-btn{
        width: 60px;
        height: 45px;
        border-radius: 0px 15px 15px 0px;
        padding-bottom: 4px;
        border: 2px solid #18A8F1; 
        background: white;
       /*  margin-left: -6px; */
        
    }
    #y-boardsearch-box select:focus{
        outline: none;
        cursor: pointer;
        font-weight: bold;
    }
    #y-boardsearch-box select:hover{
     
        cursor: pointer;
        font-weight: bold;
    
    }
    
    .y-boardsearch-box-textbox:focus{
         outline: none;
    }
    .y-boardsearch-box-btn:hover{
         cursor: pointer;
        background: #18A8F1;
        color: white;
        font-weight: bold;
        
    }
    .y-boardsearch-box-select{
        float: left;
        
    }
 .y-boardsearch-box-text{
        float: left;
        
    }
    .y-boardsearch-box-button{
        float: left;
        
    }
    