#boardrap {
    width: 1400px;
    height: 1200px;
    margin: 0 auto;
    /*            background: red;*/
}

#boardtop {
    /*    background:red;*/
    width: 1000px;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid #A4A4A4;
}

#boardtop a {
    text-decoration: none;
    color: #848484;

}


#board {

    width: 1000px;
    height: 550px;
    /*    background: green;*/
    margin: 0 auto;
    /*    border-top: 1px solid gray;*/
    margin-top: 60px;
}

.boardtopbutton {
    width: 100px;
    height: 35px;
    background: white;
    border: 1px solid #A4A4A4;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 20px;
}
.boardtopbutton:hover{
    background:#F2F2F2; 
    
}
.a3{
    background: #F2F2F2;
}

#board table {
    width: 1000px;
    /*    background: blue;*/
    margin: 0 auto;
    font-weight: bold;
}

h2 {
    width: 136px;
    height: 30px;
    border-bottom: 3px solid #18A8F1;
}


#board td {
    border-bottom: 1px solid #A4A4A4;
    height: 40px;
}

tr:hover {
    background: #F2F2F2;
}

#board th {
    border-bottom: 1px solid #A4A4A4;
    border-top: 1px solid #A4A4A4;
    height: 50px;
    background: #F2F2F2;
    font-size: 17px;
}

.text-left {
    text-align: left;
    padding-left: 30px;
}

.text-left a {
    text-decoration: none;
    color: black;
    width: 500px;

    display: inline-block;
}

.text-left a:hover {
    color: black;
}
.text-color{
/*    text-decoration: none;*/
    font-weight: 500;
}
.text-color a{
    text-decoration: none;
    color: #6E6E6E;
    font-weight: 500;
}

#th-1 {
    width: 90px;
}

#th-2 {
    width: 100px;
}

#th-3 {
    width: 600px;
}

#th-4 {
    width: 130px;
}

#th-5 {
    width: 90px;
}

table {
    text-align: center;
}

#boardfooter {
    width: 1000px;
    height: 100px;
    /*    background: yellow;*/
    margin: 0 auto;
    margin-top: 50px;
}
#boardbtnbox {
    width: 1000px;
    height: 35px;
    float: right;
    margin-top: -45px;
}

.boardbtn {
    width: 120px;
    height: 35px;
    background: white;
    border: 1px solid #A4A4A4;
    border-radius: 5px;
    font-weight: bold;
    padding-bottom: 3px;
    padding-right: 8px;
    float: right;
    font-size: 15px;
    cursor: pointer;
}
.boardbtn:hover{
    background:#F2F2F2; 
    
}
.searchbtn{
    float: left;
    font-size: 20px;
    margin-left: 
}
.searchbtn i{
    margin-left: 10px;
    line-height: 33px; 
}


#pagebtn {
    /*    background: red;*/
    width: 300px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;

}

#pagebtn a {
    text-decoration: none;
    color: black;
}

#pagebtn button {
    width: 30px;
    height: 35px;
    background: white;
    border: 1px solid #A4A4A4;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
#pagebtn button:hover{
    background:#F2F2F2; 
    
}
