@font-face {
    font-family: 'Eoe_Zno_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.lnb-box{
/*   background: green; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 51px;
    border-bottom: 1px solid #dddccc;
}

.lnb-box nav#lnb-pc{
/*    background: green; */
    width: 1400px;
    height: 51px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    box-sizing: border-box;
     display: block !important;
/*    width: 100%;*/
    max-width: 1100px;
    padding: 0 30px;
}
.lnb-box nav#lnb-pc ul.lnb-list{
   /* background: green; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    box-sizing: border-box;
     margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    overflow: hidden;
}
.lnb-box nav#lnb-pc ul.lnb-list li.lnb-home
{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     float: left;
    height: 50px;
    border-left: 1px solid #dcdcdc;
    width: 4%;
    background: url(${path}/resources/image/lnb-home.png) no-repeat center center;
}
.lnb-box ul.lnb-list li.lnb-home a 
{
    line-height: 1.42857143;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
     display: block;
    color: #000;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 0;    
}
.lnb-box nav#lnb-pc ul.lnb-list.lnb4 li.lnb-menu
{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
    height: 50px;
    border-left: 1px solid #dcdcdc;
    width: calc((100% -50px) / 5); 
}
.lnb-box nav#lnb-pc ul.lnb-list li.lnb-menu.active a
{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    letter-spacing: -0.5px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
    color: #333;
    border-color: #32caca;
}
.lnb-box nav#lnb-pc ul.lnb-list li.lnb-menu:hover a{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    letter-spacing: -0.5px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
    color: #333;
    border-color: #32caca
}
.lnb-box nav#lnb-pc ul.lnb-list.lnb4 li.lnb-menu{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
    height: 50px;
    border-left: 1px solid #dcdcdc;
    width: calc((100% - 50px) / 5);
}


.lnb-box ul.lnb-list li.lnb-menu a{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #aaa;
    letter-spacing: -0.5px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
}

.lnb-box nav#lnb-pc ul.lnb-list.lnb4 li.lnb-menu{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
    height: 50px;
    border-left: 1px solid #dcdcdc;
    width: calc((100% - 50px) / 5);}


.lnb-box ul.lnb-list li.lnb-menu a
{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #aaa;
    letter-spacing: -0.5px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
}

.lnb-box nav#lnb-pc ul.lnb-list.lnb4 li.lnb-menu
{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
    height: 50px;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    width: calc((100% - 50px) / 5);
}

.lnb-box ul.lnb-list li.lnb-menu a {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #aaa;
    letter-spacing: -0.5px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
}

.jwrap{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    box-sizing: border-box;
    clear: both;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: table;}
    
    .sp-title-box{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 55px 0 19px;
    margin-bottom: 50px;
    border-bottom: 1px solid #999;
    overflow: hidden;}
    
    h2.sp-title{
    letter-spacing: -1px;
    box-sizing: border-box;
    border: 0;
    color: inherit;
    padding: 0;
    margin: 0;
    float: left;
    width: auto;
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;}
    
    .inct-tab-mt-b{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    display: block !important;
    float: right;
    width: auto;
    overflow: hidden;
    }
.sp-location li{  
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
    font-size: 0;
    line-height: 30px;
	
}
.sp-location li.sp-home:before
{
	    content: '';
    display: inline-block;
    width: 28px;
    height: 30px;
    background: url(../image/sp-location-home.png) no-repeat center 6px;
    vertical-align: middle;
}
.sp-location li a
{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #777;
    line-height: 30px;
    letter-spacing: 0;}
    
  .sp-location li:after  
    {content: '>';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 15px;
    text-align: center;
    font-size: 13px;
    color: #777;
    line-height: 15px;
    }
    
  .page-wrap{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: none;
    padding: 0;
   }
   
    .inct-sc introduce{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    clear: both;
    width: 100%;}
    
                                                         
  .sc-titles{
    /* background: yellow; */
    font-family: 'Eoe_Zno_B';
    letter-spacing: -1px;
    box-sizing: border-box;
    border: 0;
    color: inherit;
    padding: 0;
    margin: auto;
    width: 1200px;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
    }
      
  .jhwrap{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    box-sizing: border-box;
    clear: both;
   width: 1200px; 
    margin: auto;
    display: table;
    
    position: relative;
  }
  .space-info-img { 
    float:left;
    margin-left:35px;
    width:700px;
    height: 450px;
    background: url(../image/youthnet-slide-thumb-1.png) no-repeat center center;
  }
  .youthnet2{ 
   /* background :red; */
    float:right;
   font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    margin-left:1px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    clear: none;
    width: 450px;
    height: 450px;
  }
  .sc-title3{
  
    letter-spacing: -1px;
    box-sizing: border-box;
    border: 0;
    color: inherit;
    padding: 0;
    margin: 0;
    width: 500px;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 50px;
    
  }
.sc-title-slogann {
    letter-spacing: -1px;
    box-sizing: border-box;
    word-break: break-all;
    display: block !important;
    padding: 0px;
    margin: 0px;
    width: 1200px;
    margin-bottom: 60px;
    font-size: 18px;
    color: #333;
    border-bottom: 2px solid #0099FF;
    padding-bottom: 10px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
 font-family: 'Eoe_Zno_B';
  }
  .sc-title-slogann span{
    word-break: break-all;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    left: 0;
    font-weight: 200;
    color: #0099ff40;
    letter-spacing: 1px;
    font-size: 25px;
    line-height: 25px;
    
    
  }
  .space-info-textt{
  
    letter-spacing: -1px;
    box-sizing: border-box;
    word-break: break-all;
    display: block !important;
    padding: 0px;
    margin: 0px;
    color: #777;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
  }
  .space-conceptj{
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    margin: 0 auto;
    box-sizing: border-box;
    clear: both;
    width: 1200px;
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: -100;
    margin-top: 100px;}

.concept-imgg{
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
    float: left;
    margin-left:35px;
    width: 600px;
    height: 450px;
    padding-top: 140px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 75px;
    background-color: #a9d88f;
    background-image: url(../image/youthnet-concept-1.png);
    -webkit-background-size: initial;
  }
 .concept-rightt{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: right;
    width: 565px;
    height: 450px;
    padding-top: 140px;
    padding-left: 75px;
    background: #604b8c url(../image/youthnet-slogan-1024.png) no-repeat 92% 210px;
 }
.sc-title-concepts{
	box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    border-top: 4px solid white;
    font-size: 25px;
    color: white;
    line-height: 90px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: left;
	}
	
   .emphj{
    line-height: 90px;
    font-weight: 300;
    text-align: left;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 40px;
    vertical-align: baseline;
    color: white;
   }
   
  .inct-sc.introduce .space-concept-summaryy{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    padding: 0;
    box-sizing: border-box;
    width: 1400px;
    max-width:1000px;
    height: 170px;
    margin: -50px auto 10px;
    border: 1px solid #f1f1f1;
    background: white;
    box-shadow: 5px 5px 0 #eee;
    }
    
    .space-concept-summaryy ul{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    text-align: center;
    letter-spacing: -1px;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    width: 1200px;
    height: 170px;
    padding: 25px 2.5%;
    overflow: hidden; 
    }
    
 
    
    .inct-sc.introduce .space-concept-summaryy ul li{
     font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
    width: 200px;
    height: 120px;
    }
    .inct-sc.introduce .space-concept-summaryy ul li .iconm{
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 130px;
    height: 95px;
    font-size: 0;
    text-align: center;
    line-height: 95px;
    vertical-align: middle;
    }
    
    .inct-sc.introduce .space-concept-summaryy ul li p{
     list-style: none;
    box-sizing: border-box;
    word-break: break-all;
    padding: 0px;
    margin: 0px;
    width:120px;
    font-size: 15px;
    color: #777;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0;
    font-weight: 300;
  
    }
    
    .title-boxzx{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
  
    padding: 0;
    box-sizing: border-box;
    clear: both;
   /*  width: 1000px; */
    overflow: hidden;
    }
    
    .sc-title-snss{
    
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    box-sizing: border-box;
    clear: both;
    width: 1200px;
    margin:0 auto;
    display: block;
    text-align: center;
    }
        
    .sc-title-snss ul li{
  font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin : 10px;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    
    }
   .title-boxzx a:link, a:visited{
     font-size: 14px;
    line-height: 1.42857143;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    display: block;
    color: #000;
    text-decoration: none;}
    
  .support-contactx{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    padding: 0;
    box-sizing: border-box;
    border-top: 2px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-top-color: #604b8c;
    width: 1200px;
    max-width: 1140px;
    margin: 0 auto 100px;
  }
  
  .support-contactx ul.support-contactx-listz{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    letter-spacing: -1px;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    width: 1200px;
    padding: 30px 0;
    overflow: hidden;
  
  }
  
 .support-contactx-listz li{
    line-height: 1.42857143;
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
    float: none;
    width: 1200px;
    max-width: 400px;
    margin: 0 auto;
    border-right: 0;
 }
 
 .iconzx{
    color: #333;
    list-style: none;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: top;
 }
 
 
 .iconzx img{
    color: #333;
    list-style: none;
    font-size: 0;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 1200px;
    vertical-align: middle;
 }
 
 
.support-contact-infoo{
    line-height: 1.42857143;
    color: #333;
    list-style: none;
    font-size: 20px;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    height: 70px;
    vertical-align: top;
    width: calc(100% - 70px);
    text-align: left;
    padding-left: 30px;
}
  .contact-numberq{
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    word-break: break-all;
    padding: 0px;
    margin: 0px;
    width: 1200px;
    font-size: 30px;
    color: #555;
    line-height: 30px;
    letter-spacing: 0;
  }