@charset "utf-8";

@font-face {
    font-family: 'Eoe_Zno_L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
}
html {
    overflow-y: auto;
}
body{
    font-family: 'Eoe_Zno_L';
}
